[submodule "third_party/opensea-creatures"]
	path = third_party/opensea-creatures
	url = https://github.com/ProjectOpenSea/opensea-creatures
[submodule "third_party/pink-antibot"]
	path = third_party/pink-antibot
	url = https://github.com/pinkmoonfinance/pink-antibot-guide
